---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import { HOMEPAGE_PROJECTS_LIMIT } from "../constants";
import MostRecentProjectCard from "../components/MostRecentProjectCard.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import ProjectCard from "../components/ProjectCard.astro";

const allProjects: CollectionEntry<'project'>[] = (await getCollection('project')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentProject: CollectionEntry<'project'> = allProjects[0];
const otherProjects: CollectionEntry<'project'>[] = allProjects.slice(1); 
---

<MainLayout>
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
         <div>
          <h1 class="text-3xl font-bold mt-4 mb-2 leading-tight xl:text-3xl">
            Welcome to the Studio Grimoire website!
          </h1>
          <p class="text-xl font-bold mt-0 mb-10 leading-tight xl:text-xl text-gray-500">
            Inspired by your favorite fantasy games and music!
          </p>

          <SearchForm />
          
        </div>
       
        <MostRecentProjectCard project={mostRecentProject}/>

        </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 mb-10 lg:mb-0">
        {otherProjects
          .slice(0, HOMEPAGE_PROJECTS_LIMIT)
          .map(project => (
            <ProjectCard project={project} />
          ))}
      </div>

  </body>
</html>
</MainLayout>