---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import { HOMEPAGE_PROJECTS_LIMIT } from "../constants";
import MostRecentProjectCard from "../components/MostRecentProjectCard.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import ProjectCard from "../components/ProjectCard.astro";

const allProjects: CollectionEntry<'project'>[] = (await getCollection('project')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentProject: CollectionEntry<'project'> = allProjects[0];
const otherProjects: CollectionEntry<'project'>[] = allProjects.slice(1); 
---

<MainLayout>
	  <!-- Top Grid -->
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <div>
          <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
            Studio Grimoire
          </h1>

          <SearchForm />
          
        </div>
       
        <MostRecentProjectCard project={mostRecentProject}/>

        </div>

      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
       
        {otherProjects.slice(0, HOMEPAGE_PROJECTS_LIMIT).map(project => (<ProjectCard project = {project} /> ))}

      </div>
  </body>
</html>
</MainLayout>