<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Parallax Background</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
      html {
        height: 100vh;
        overflow: hidden;
      }

      body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background: white;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-x: hidden;
        overflow-y: scroll;
      }

      .section1,
      .section2 {
        width: 100%;
        min-height: 100vh;
        position: relative;
        transform-style: preserve-3d;
      }

      .section1::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("../images/Paralaxx full.png") top center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      /* Responsive: use phone background on small screens */
      @media (max-width: 980px) {
        .section1::before {
          background: url("../images/Paralaxx full phone.png") top center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .section2 {
        background: black;
      }
    </style>
  </head>

  <body>
    <div class="section1"></div>
    <div class="section2"></div>
  </body>
</html>
