---
import MainLayout from "../../layouts/MainLayout.astro"
export const prerender = false;
import { getEntry } from "astro:content";
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if(slug === undefined){
    throw new Error('Slug is required')
}

const entry = await getEntry('project', slug);

if(entry === undefined){
    return Astro.redirect('/404');
}

const { Content } = await entry.render();
---

<MainLayout>
    
    <a href="/projects" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Back To All Projects</a>
      <article>
        <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
        <h3 class="text-lg mb-2">{entry.data.author} Published {formatDate(entry.data.pubDate)}</h3>
        
            <Tags tags={entry.data.tags}/>

        <img src={'/images/' + entry.data.image } alt="Article Image" class="w-full h-auto rounded-xl my-6" />
        <div class="article-content">
        <Content />
        </div>

      </article>

</MainLayout>

<style is:global>
    p {
        margin: 20px 0;
    }

    h2 {
        margin: 20px 0;
        font-size: 1.8rem;
    }

    .article-content {
    }
    .article-content ul {
        list-style: disc;
        padding-left: 40px;
    }
    .article-content ul li {
        margin: 10px 0;
    }
</style>